/* *****************
*********** fonts ***********/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,900;1,700&display=swap');

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.container {
    width: 85%;
    margin: auto;
}

/************** header-section **********
***********************************************/
.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-menu {
    display: flex;
}
.nav-menu li {
    list-style: none;
    padding: 1em;
}
.nav-menu a {
    text-decoration: none;
    color: #3A3A3A;
}

/************** main-section-1**********
***********************************************/
.heading-section {
    display: flex;
}

/************** main-section-2 **********
***********************************************/
.logos {
    display: flex;
    justify-content: center;
}

/************** main-section-3 **********
***********************************************/
.collection {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

/************** main-section-4 **********
***********************************************/


/************** footer-section **********
***********************************************/
footer {
    background-color: #0A0826;
    padding: 50px 0;
}
.footer {
    text-align: center;
    color: #FFFFFF;
}
.social-icon {
    display: flex;
    justify-content: center;
}
.icon {
    margin: 0 8px;
}
.icon a {
    color: #FFFFFF;
}