/* *****************
*********** fonts ***********/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,900;1,700&display=swap');

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.container {
    width: 85%;
    margin: auto;
}

/************** header-section **********
***********************************************/
.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-menu {
    display: flex;
}
.nav-menu li {
    list-style: none;
    padding: 1em;
}
.nav-menu a {
    text-decoration: none;
    color: #3A3A3A;
}

/************** main-section-1**********
***********************************************/
.heading-section {
    display: flex;
}
.heading-section .text-area {
    padding: 60px 0px;
}
h1 {
    font-size: 48px;
    font-weight: 700;
    line-height: 70px;
    margin: 0;
}
.text-area p {
    color: #3A3A3A;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    margin-bottom: 30px;
    margin-right: 66px;
}

.anchor a {
    border: 1px solid #FF6666;
    background-color: #FF6666;
    text-decoration: none;
    color: #FFFFFF;
    padding: 10px 24px;
    border-radius: 50px;
}
.anchor:hover {
    transform: translate(2px,5px);
    transition: transform 1s ease;
    
}
.anchor a:hover {
    background-color: #E03B8B;
    color: #3A3A3A;
}
.anchor span {
    display: inline-block;
    margin-left: 5px;
    padding-left: 5px;
}
.image-area {
    margin-left: 66px;
}
.image-area img{
    width: 440px;
    height: 414px;
}
/************** main-section-2 **********
***********************************************/
.logos {
    display: flex;
    justify-content: center;
}

/************** main-section-3 **********
***********************************************/
.collection {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

/************** main-section-4 **********
***********************************************/


/************** footer-section **********
***********************************************/
footer {
    background-color: #0A0826;
    padding: 50px 0;
}
.footer {
    text-align: center;
    color: #FFFFFF;
}
.social-icon {
    display: flex;
    justify-content: center;
}
.icon {
    margin: 0 8px;
}
.icon a {
    color: #FFFFFF;
}