/* *****************
*********** fonts ***********/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,900;1,700&display=swap');

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.container {
    width: 90%;
    margin: auto;
}

/************** header-section **********
***********************************************/


/************** header-section **********
***********************************************/


/************** header-section **********
***********************************************/


/************** header-section **********
***********************************************/


/************** header-section **********
***********************************************/


/************** footer-section **********
***********************************************/